<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-style">
  <div class="container-fluid">
    <%= link_to 'Bookmarks Manager', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-ra">
            <li class="nav-item mx-1">
                <%= link_to 'All Bookmarks', bookmarks_path %>
            </li>

            <li class="nav-item mx-1">
                <%= link_to 'Categories', categories_path %>
            </li>

            <li class="nav-item mx-1">
                <%= link_to 'Types', types_path %>
            </li>
      </ul>
    </div>
  </div>
</nav>